form {
  display: grid;
  gap: 10px;
  max-width: 450px;
}

input,
button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
}

button {
  background: #ea580c;
  color: #fff;
  border: none;
}
